<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GK Challenge</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🎉 WELCOME TO GK CHALLENGE 🎉</h1>
    <p>Test your General Knowledge with 50 MCQ Questions.</p>

    <a href="/quiz">
        <button> START QUIZ GAME </button>
    </a>

    <br><br>

    <small>Created by <strong> RAJ BISWAS </strong></small>
</div>

</body>
</html>