<!DOCTYPE html>
<html lang="bn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GK Master Quiz</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🌍 GK MASTER QUIZ 🌍</h1>

    <h3>Question {{ current + 1 }} of {{ total }}</h3>

    <div class="question-box">

        <h2>{{ question.question }}</h2>

        <form action="/answer" method="POST">

            <input type="hidden" name="current" value="{{ current }}">

            {% for option in question.options %}

            <label class="option">
                <input
                    type="radio"
                    name="answer"
                    value="{{ option }}"
                    required>

                <span>{{ option }}</span>

            </label>

            {% endfor %}

            <br><br>

            <button type="submit" id="nextBtn">
                Next ➜
            </button>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>