<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GK Master Quiz</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <header>
        <h1>🌍 GK MASTER QUIZ 🌍</h1>
        <p><strong>Page {{ page }} of {{ total_pages }}</strong></p>
    </header>

    <form method="POST">

        {% for q in questions %}

            {% set qindex = (page-1)*10 + loop.index0 %}

            <div class="question-box">

                <h3>
                    Question {{ (page-1)*10 + loop.index }}
                </h3>

                <p><strong>{{ q.question }}</strong></p>

                {% for option in q.options %}

                <label class="option">
                    <input
                        type="radio"
                        name="q{{ qindex }}"
                        value="{{ option }}"
                        required
                    >
                    {{ option }}
                </label>

                {% endfor %}

            </div>

        {% endfor %}

        <div class="button-area">

            {% if page < total_pages %}

                <button
                    type="button"
                    onclick="location.href='/quiz?page={{ page + 1 }}'">
                    Next Page ➜
                </button>

            {% else %}

                <button type="submit">
                    ✅ Finish Quiz
                </button>

            {% endif %}

        </div>

    </form>

</div>

</body>
</html>